  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li>hey</li>
      <li>ya</li>
      <li>!</li>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <%= render @rooms %>
  </div>