<div class="container">
  <div class="jumbotron">
    <h1>Welcome to ActionCable Chat</h1>
    <p>
      This is a basic demo of a realtime chat application with rails 5. It takes advantage of Action Cable to display realtime messages as well as display when users enter and exit chatrooms. You can also create private groups.
    </p>

    <% if logged_in? %>
      <%= button_to "Go to chatrooms", rooms_path, method: :get, class: "btn btn-primary"  %>
    <% else %>
      <%= button_to "Login", new_session_path, method: :get, class: "btn btn-primary" %>
      <%= button_to "signup", new_user_path, method: :get, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
