html {
  font-weight: normal;
  color: #333;
}

main {
  padding-top: 65px;
}

.jumbotron {
  text-align: center
}

.button_to {
  display: inline;
}

img {
  display: none;
}

.alert-success {
  display: none;
}

.alert-info {
  display: none;
}

#users-list {
    list-style-type: none;
    display: inline;
}

#users-list h4 {
    display: inline;
}