main {
  padding-top: 65px;
}

.jumbotron {
  text-align: center
}

.button_to {
  display: inline;
}

img {
  display: none;
}

.alert-success {
  display: none;
}

.alert-info {
  display: none;
}

#users-list {
    list-style-type: none;
    display: inline;
}

#users-list h4 {
    display: inline;
}

#add-members-header {
  text-align: center;
}

#add-users h3 {
  display: inline;
}

/*#messages h5 {
  display: inline;
}*/


@media all and (max-width: 767px) {
  .side-menu {
    display: none;
  }
}